<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Student Innovation Center</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://sidcupfamilygolf.com/wp-content/themes/puttosaurus/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css"/>

    <style> 
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "montserrat";
      }
      
      html,
      body {
        height: 100%;
        background-color: black;
        width: 100%;
      }
      *::selection {
        background-color: #fff;
        color: #95c11e;
      }
      
      body::-webkit-scrollbar {
        display: block;
        width: 8px;
        background: #95c11e;
      }
      body::-webkit-scrollbar-thumb {
        background-color: #fff;
      
        border-radius: 50px;
      }
      body {
        overflow-x: hidden;
      }
      #cursor {
        height: 20px;
        width: 20px;
        background-color: #95c11e;
        border-radius: 50%;
        position: fixed;
        z-index: 99;
        transition: all linear 0.1s;
      }
      #cursor-blur {
        height: 500px;
        width: 500px;
        background-color: rgba(150, 193, 30, 0.3);
        border-radius: 50%;
        position: fixed;
        filter: blur(80px);
        z-index: 9;
        transition: all linear 0.4s;
      }
      #nav {
    height: 130px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
    justify-content: flex-start;
    z-index: 999;
    color: white;
  }
  #nav img {
    height: 4.5vw;
  }
  #nav a{
    text-decoration: none;
    color: white;
  }
  #nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;
  }
  .link{
    display: flex;
    gap: 26px;
    padding-left: 15%;
  }
  .link a{
    text-align: center;
  }

      .container{
        height: 80%;
        width: 80%;
        background-color: #EEEDEB;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 10%;
        border-radius: 3rem;
      }
      .container .image{
        height: 80%;
        width: 30%;
        background-image: url(/src/rdx.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px 0px 0px 30px;
      }
      .container .info{
        height: 80%;
        width: 40%;
        background-color: #FFF7FC;
        color: black;
        border-radius: 0px 30px 30px 0px;
      }
      .container .info .detail{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 10%;
        top: 15%;
        gap: 15px;
      }
      .container .info .detail p{
        text-align: left;
        font-size: 1.2rem;
      }
      svg{
      height: 3.4rem;
      margin-left:-18%
      }
      
      #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
    margin-top: 5%;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

 
     
    </style>
     </head>
  <body>
    <div id="nav">
      <img src="btch.jpg" alt="" />
      <a href="/">HOME</a>
      <a href="/pastEvent">PAST EVENT</a>
      <a href="/upcomingevent">UPCOMING EVENT</a>
      <a href="/profile">PROFILE</a>
      <a href="/admin">ADMIN</a>
      <a href="/contact">CONTACTS</a>
      <div class="link">
        <% if(!currUser){ %>
          <a href="/signup">SIGNUP</a>
          <a href="/login">LOGIN</a>
          <% } else {%>
          <a href="/logout">LOGOUT</a>
          <% } %>  
      </div>
    </div>
  
  
    
    <div class="container"> 
        <div class="image"> </div>
        <div class="info">
          <div class="detail"> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256" xml:space="preserve"><style>.st2{fill:none;stroke:#6b1d1d;stroke-width:.5;stroke-miterlimit:10}.st3{fill:#3a312a}.st4{fill:#87796f}.st5{fill:#d5de58}.st20,.st32{fill:#f8e4c8}.st32{fill-rule:evenodd;clip-rule:evenodd}.st34{fill:#f59689}</style><g id="Layer_1"><path class="st5" d="M47.133 26.323s3.408 12.659 13.222 13.246c0 0-13.1 4.525-13.321 14.202 0 0-2.579-13.572-12.925-14.059-.001.001 12.05-1.825 13.024-13.389z"/><path class="st3" d="M47.032 55.271a1.5 1.5 0 0 1-1.472-1.218c-.024-.124-2.494-12.417-11.522-12.843a1.5 1.5 0 0 1-.154-2.982c.441-.068 10.894-1.816 11.754-12.032a1.498 1.498 0 0 1 2.942-.265c.032.116 3.259 11.626 11.864 12.142a1.501 1.501 0 0 1 .402 2.914c-.121.042-12.118 4.311-12.313 12.819a1.5 1.5 0 0 1-1.501 1.465zm-7.74-15.729c3.878 1.969 6.23 5.746 7.586 8.876 2.027-4.021 5.942-6.787 8.949-8.427-4.134-1.842-6.783-5.651-8.334-8.723-1.793 4.361-5.271 6.869-8.201 8.274z"/><path class="st5" d="M25.434 43.304s2.411 8.954 9.352 9.369c0 0-9.266 3.201-9.422 10.045 0 0-1.824-9.6-9.142-9.944 0 .001 8.523-1.291 9.212-9.47z"/><path class="st3" d="M25.362 64.219a1.5 1.5 0 0 1-1.472-1.22c-.016-.082-1.704-8.442-7.739-8.727a1.5 1.5 0 0 1-.154-2.982c.296-.047 7.364-1.242 7.942-8.113a1.5 1.5 0 0 1 1.36-1.368 1.491 1.491 0 0 1 1.582 1.101c.021.079 2.228 7.92 7.994 8.266a1.5 1.5 0 0 1 .4 2.915c-.081.028-8.282 2.952-8.413 8.661a1.5 1.5 0 0 1-1.5 1.467zm-4.518-11.528c2.107 1.332 3.524 3.394 4.447 5.279 1.376-2.232 3.515-3.871 5.365-4.972-2.287-1.27-3.884-3.351-4.941-5.225-1.174 2.289-3.015 3.877-4.871 4.918z"/><path class="st5" d="M25.434 16.646s2.411 8.954 9.352 9.37c0 0-9.266 3.201-9.422 10.045 0 0-1.824-9.6-9.142-9.944 0 0 8.523-1.291 9.212-9.471z"/><path class="st3" d="M25.362 37.562a1.5 1.5 0 0 1-1.472-1.22c-.016-.082-1.704-8.442-7.739-8.727a1.5 1.5 0 0 1-.154-2.981c.296-.047 7.364-1.242 7.942-8.113a1.5 1.5 0 0 1 2.942-.266c.021.079 2.228 7.92 7.994 8.265a1.499 1.499 0 0 1 .4 2.915c-.081.028-8.282 2.953-8.413 8.662a1.5 1.5 0 0 1-1.5 1.465zm-4.518-11.528c2.107 1.332 3.524 3.393 4.447 5.279 1.376-2.232 3.515-3.872 5.365-4.973-2.287-1.268-3.884-3.35-4.941-5.224-1.174 2.288-3.015 3.877-4.871 4.918z"/><path d="M185.935 74.88H33.878c-9.44 0-17.1 7.65-17.1 17.1v130.29c0 9.45 7.66 17.11 17.1 17.11h188.79c9.45 0 17.11-7.66 17.11-17.11V91.98c0-9.45-7.66-17.1-17.11-17.1h-23.937m-49.433 21.43h-42.6a5.82 5.82 0 0 1-4.13-1.71 5.84 5.84 0 0 1 4.13-9.97h42.6c1.61 0 3.07.65 4.13 1.71a5.861 5.861 0 0 1 1.71 4.13c0 3.22-2.62 5.84-5.84 5.84z" style="fill:#ed6e7a"/><path class="st3" d="M222.669 240.88H33.878c-10.256 0-18.6-8.349-18.6-18.61V91.98c0-10.257 8.344-18.601 18.6-18.601h152.056a1.5 1.5 0 1 1 0 3H33.878c-8.602 0-15.6 6.998-15.6 15.601v130.29c0 8.607 6.998 15.61 15.6 15.61h188.79c8.607 0 15.61-7.003 15.61-15.61V91.98c0-8.603-7.002-15.601-15.61-15.601h-23.937a1.5 1.5 0 1 1 0-3h23.937c10.262 0 18.61 8.344 18.61 18.601v130.29c0 10.261-8.348 18.61-18.609 18.61zM149.298 97.811h-42.6a7.297 7.297 0 0 1-5.19-2.149 7.337 7.337 0 0 1-2.149-5.191c0-4.047 3.293-7.34 7.34-7.34h42.6a7.3 7.3 0 0 1 5.191 2.149 7.326 7.326 0 0 1 2.149 5.19c-.001 4.048-3.293 7.341-7.341 7.341zm-42.6-11.681a4.345 4.345 0 0 0-4.34 4.34c0 1.152.453 2.244 1.276 3.075a4.308 4.308 0 0 0 3.064 1.266h42.6a4.345 4.345 0 0 0 4.34-4.341 4.348 4.348 0 0 0-1.275-3.074 4.312 4.312 0 0 0-3.064-1.266h-42.601z"/><path class="st20" d="M82.31 224.286h31.298v-15.095c0-9.2-7.457-16.656-16.657-16.656H85.947v-7.152c-3.044 2.11-6.193 3.355-9.25 3.355-2.932 0-6.025-1.257-9.057-3.393h-.187v7.19H56.442c-9.2 0-16.657 7.457-16.657 16.656v15.095H82.31z"/><path class="st3" d="M113.608 225.786H82.31a1.5 1.5 0 1 1 0-3h29.798v-13.594c0-8.357-6.799-15.157-15.157-15.157H85.946a1.5 1.5 0 0 1-1.5-1.5v-4.463c-2.65 1.438-5.248 2.166-7.749 2.166-2.467 0-5.063-.767-7.743-2.282v4.579a1.5 1.5 0 0 1-1.5 1.5H56.442c-8.357 0-15.157 6.8-15.157 15.157v13.594h28.447a1.5 1.5 0 1 1 0 3H39.785a1.5 1.5 0 0 1-1.5-1.5v-15.094c0-10.012 8.145-18.157 18.157-18.157h9.512v-5.689a1.5 1.5 0 0 1 1.5-1.5h.187c.309 0 .611.096.864.273 2.938 2.07 5.694 3.119 8.193 3.119 2.615 0 5.439-1.039 8.395-3.088a1.501 1.501 0 0 1 2.354 1.232v5.652h9.505c10.012 0 18.157 8.145 18.157 18.157v15.094a1.502 1.502 0 0 1-1.501 1.501z"/><path d="M82.31 224.288h31.298v-15.1c0-9.2-7.457-16.657-16.657-16.657h-2.633l.068.05-11.446 15.181-5.907-4.451-5.907 4.451-11.447-15.182.068-.05h-3.305c-9.2 0-16.657 7.457-16.657 16.657v15.1H82.31z" style="fill:#89c4db"/><path class="st3" d="M113.608 225.788H82.31a1.5 1.5 0 1 1 0-3h29.798v-13.601c0-8.357-6.799-15.157-15.157-15.157h-1.779l-11.034 14.635a1.501 1.501 0 0 1-2.1.295l-5.005-3.771-5.005 3.771a1.501 1.501 0 0 1-2.1-.295L58.894 194.03h-2.452c-8.357 0-15.157 6.8-15.157 15.157v13.601h28.447a1.5 1.5 0 1 1 0 3H39.786a1.5 1.5 0 0 1-1.5-1.5v-15.101c0-10.012 8.145-18.157 18.157-18.157h3.305a1.5 1.5 0 0 1 1.426 1.035l.003.009 10.244 13.587 4.71-3.548a1.502 1.502 0 0 1 1.805 0l4.71 3.548 10.329-13.699c.23-.549.741-.932 1.344-.932h2.633c10.012 0 18.157 8.145 18.157 18.157v15.101a1.501 1.501 0 0 1-1.501 1.5z"/><path class="st32" d="M54.649 151.244a6.554 6.554 0 1 1-13.108 0 6.554 6.554 0 1 1 13.108 0z"/><path class="st3" d="M48.095 159.298c-4.441 0-8.054-3.613-8.054-8.054 0-4.441 3.613-8.055 8.054-8.055s8.054 3.613 8.054 8.055c0 4.441-3.613 8.054-8.054 8.054zm0-13.109a5.06 5.06 0 0 0-5.054 5.055 5.06 5.06 0 0 0 5.054 5.054 5.06 5.06 0 0 0 5.054-5.054 5.06 5.06 0 0 0-5.054-5.055z"/><path class="st32" d="M111.855 151.244a6.554 6.554 0 1 1-13.108 0 6.554 6.554 0 1 1 13.108 0z"/><path class="st3" d="M105.301 159.298c-4.441 0-8.054-3.613-8.054-8.054 0-4.441 3.613-8.055 8.054-8.055 4.441 0 8.054 3.613 8.054 8.055-.001 4.441-3.613 8.054-8.054 8.054zm0-13.109a5.06 5.06 0 0 0-5.054 5.055 5.06 5.06 0 0 0 5.054 5.054 5.06 5.06 0 0 0 5.054-5.054 5.062 5.062 0 0 0-5.054-5.055z"/><path class="st20" d="M105.753 148.063c0 16.046-15.454 40.677-29.055 40.677-12.982 0-29.055-24.63-29.055-40.677s13.008-29.055 29.055-29.055c16.046 0 29.055 13.008 29.055 29.055z"/><path class="st3" d="M76.698 190.239c-6.538 0-14.057-5.456-20.63-14.968-6.122-8.859-9.925-19.285-9.925-27.209 0-16.848 13.707-30.555 30.555-30.555s30.555 13.707 30.555 30.555c0 17.038-16.095 42.177-30.555 42.177zm0-69.731c-15.194 0-27.555 12.361-27.555 27.555 0 14.887 15.394 39.177 27.555 39.177 12.51 0 27.555-24.062 27.555-39.177 0-15.194-12.361-27.555-27.555-27.555z"/><path class="st3" d="M69.276 147.734a2.836 2.836 0 1 1-5.673 0 2.836 2.836 0 0 1 5.673 0zM89.792 147.734a2.836 2.836 0 1 1-5.673 0 2.836 2.836 0 0 1 5.673 0z"/><path class="st34" d="M65.657 156.166c0 2.017-2.187 3.652-4.885 3.652s-4.885-1.635-4.885-3.652c0-2.017 2.187-3.652 4.885-3.652s4.885 1.635 4.885 3.652zM97.509 156.166c0 2.017-2.187 3.652-4.885 3.652s-4.885-1.635-4.885-3.652c0-2.017 2.187-3.652 4.885-3.652s4.885 1.635 4.885 3.652z"/><path class="st4" d="M77.033 112.595c-16.609 0-30.073 12.873-30.073 28.752 0 1.68.304 2.933.869 4.497.266.738 4.573-1.618 4.939-1.876 1.833-1.291 3.332-3.041 4.452-4.975.463-.804.849-1.623 1.16-2.441.991-2.612 3.684-9.879 6.419-9.309 3.667.764 7.824 1.196 12.233 1.196 4.409 0 8.566-.432 12.234-1.196 2.734-.57 5.428 6.697 6.419 9.309.311.819.697 1.637 1.16 2.442 1.85 3.2 4.975 6.247 8.776 6.801.009-.184.241-.246.414-.309 1.244-.452 1.07-3.141 1.07-4.139.001-15.879-13.463-28.752-30.072-28.752z"/><path class="st3" d="M48.057 147.47a1.691 1.691 0 0 1-1.638-1.115c-.575-1.593-.958-3.055-.958-5.008 0-16.681 14.164-30.252 31.573-30.252s31.573 13.571 31.573 30.252l.003.315c.022 1.52.063 4.316-1.906 5.171a1.485 1.485 0 0 1-1.297.445c-3.763-.548-7.448-3.364-9.859-7.534a18.58 18.58 0 0 1-1.263-2.66l-.062-.163c-3.058-8.07-4.49-8.221-4.648-8.211-3.909.815-8.127 1.229-12.54 1.229-4.413 0-8.632-.413-12.54-1.228l-.011-.001c-.201 0-1.641.302-4.638 8.21l-.062.164a18.462 18.462 0 0 1-1.263 2.658c-1.286 2.222-2.976 4.106-4.888 5.453-.038.027-3.613 2.275-5.576 2.275zm57.826-1.929.547 1.396a.652.652 0 0 0 .111-.057l-.658-1.339zm1.237.332zm-30.087-31.778c-15.755 0-28.573 12.226-28.573 27.252 0 1.105.149 1.981.418 2.898 1.042-.419 2.635-1.249 3.045-1.515 1.542-1.086 2.931-2.643 3.999-4.488a15.54 15.54 0 0 0 1.056-2.223l.062-.163c2.146-5.663 4.608-10.795 8.066-10.083 3.707.773 7.72 1.165 11.927 1.165s8.22-.392 11.927-1.165c3.454-.711 5.92 4.421 8.066 10.084l.062.162c.287.755.643 1.504 1.058 2.226 1.815 3.14 4.426 5.32 7.082 5.948.051-.023.104-.047.159-.068.166-.321.241-1.134.222-2.419l-.004-.359c.001-15.027-12.817-27.252-28.572-27.252z"/><path transform="rotate(-37.003 68.37 197.922)" class="st4" d="M64.656 188.428h7.428v19.013h-7.428z"/><path class="st3" d="M71.126 209.262a1.5 1.5 0 0 1-1.198-.598L58.484 193.48a1.5 1.5 0 0 1 .295-2.101l5.932-4.471a1.498 1.498 0 0 1 2.1.296l11.443 15.184a1.5 1.5 0 0 1-.295 2.101l-5.932 4.471c-.26.197-.578.302-.901.302zm-9.343-16.389 9.638 12.788 3.536-2.665-9.638-12.788-3.536 2.665z"/><path transform="rotate(-142.997 85.7 197.932)" class="st4" d="M81.983 188.428h7.428v19.013h-7.428z"/><path class="st3" d="M82.94 209.262c-.314 0-.631-.099-.902-.302l-5.932-4.471a1.496 1.496 0 0 1-.295-2.1l11.443-15.184a1.501 1.501 0 0 1 2.101-.296l5.932 4.471a1.5 1.5 0 0 1 .294 2.1l-11.443 15.184a1.493 1.493 0 0 1-1.198.598zm-3.831-6.266 3.537 2.665 9.638-12.788-3.537-2.665-9.638 12.788zM53.613 225.788a1.5 1.5 0 0 1-1.5-1.5v-11.931a1.5 1.5 0 1 1 3 0v11.931a1.5 1.5 0 0 1-1.5 1.5zM100.453 225.788a1.5 1.5 0 0 1-1.5-1.5v-11.931a1.5 1.5 0 1 1 3 0v11.931a1.5 1.5 0 0 1-1.5 1.5z"/><path class="st4" d="M52.119 118.237c4.932 6.21 10.832 12.831 17.957 14.857 11.477 3.263 31.79-.808 31.79-17.326 0-10.563-8.854-23.33-25.377-13.609-20.481 12.049-32.369-11.113-32.369-.55 0 3.339 1.345 6.669 3.111 9.699l4.888 6.929z"/><path class="st3" d="M78.1 135.626c-3.054 0-5.96-.386-8.434-1.089-7.399-2.104-13.371-8.629-18.722-15.367a1.095 1.095 0 0 1-.051-.068l-4.888-6.93a1.35 1.35 0 0 1-.07-.109c-2.23-3.826-3.315-7.246-3.315-10.453 0-1.46.177-3.236 1.556-4.017 1.624-.919 3.419.156 6.136 1.785 5.176 3.104 13.839 8.301 25.417 1.488 8.986-5.285 15.244-3.896 18.911-1.799 6.028 3.447 8.727 10.872 8.728 16.701 0 5.919-2.475 10.916-7.156 14.453-5.029 3.798-11.878 5.405-18.112 5.405zm-24.779-18.288c5.032 6.333 10.595 12.445 17.166 14.314 6.642 1.887 17.278 1.189 23.916-3.825 3.958-2.989 5.964-7.046 5.964-12.059 0-4.963-2.232-11.246-7.217-14.097-4.271-2.441-9.769-1.826-15.9 1.78-13.117 7.715-23.111 1.72-28.482-1.502-1.079-.646-2.385-1.431-3.042-1.634-.05.221-.106.617-.106 1.293 0 2.647.94 5.555 2.874 8.888l4.827 6.842zM76.697 173.13c-4.377 0-7.534-1.969-9.383-5.853a1.5 1.5 0 0 1 2.709-1.289c1.345 2.825 3.466 4.142 6.674 4.142 3.754 0 6.018-2.406 6.623-4.023a1.5 1.5 0 0 1 2.81 1.053c-1.077 2.874-4.488 5.97-9.433 5.97z"/><path d="M210.945 141.788h-69.359a5.82 5.82 0 0 1-5.82-5.82v-15.359a5.82 5.82 0 0 1 5.82-5.82h69.359a5.82 5.82 0 0 1 5.82 5.82v15.359a5.82 5.82 0 0 1-5.82 5.82z" style="fill:#d5dc57"/><path class="st3" d="M210.944 143.288h-69.359c-4.037 0-7.32-3.284-7.32-7.32v-15.359c0-4.036 3.284-7.32 7.32-7.32h69.359c4.037 0 7.32 3.284 7.32 7.32v15.359c.001 4.036-3.283 7.32-7.32 7.32zm-69.359-27a4.325 4.325 0 0 0-4.32 4.32v15.359a4.325 4.325 0 0 0 4.32 4.32h69.359a4.326 4.326 0 0 0 4.32-4.32v-15.359a4.325 4.325 0 0 0-4.32-4.32h-69.359zM216.765 163.955h-81a1.5 1.5 0 1 1 0-3h81a1.5 1.5 0 1 1 0 3zM216.765 182.455h-81a1.5 1.5 0 1 1 0-3h81a1.5 1.5 0 1 1 0 3zM216.765 200.955h-81a1.5 1.5 0 1 1 0-3h81a1.5 1.5 0 1 1 0 3zM216.765 219.455h-81a1.5 1.5 0 1 1 0-3h81a1.5 1.5 0 1 1 0 3z"/><path class="st4" d="M137.808 20.59c-2.45-2.45-5.82-3.97-9.53-3.97-7.43 0-13.5 6.08-13.5 13.5V79c0 7.43 6.07 13.5 13.5 13.5 7.42 0 13.5-6.07 13.5-13.5V30.12c0-3.71-1.52-7.08-3.97-9.53zm-9.53 18.08a6.88 6.88 0 1 1 0-13.76 6.88 6.88 0 1 1 0 13.76z"/><path class="st3" d="M128.278 94c-8.271 0-15-6.729-15-15V30.12c0-8.271 6.729-15 15-15 3.986 0 7.748 1.565 10.591 4.409 2.843 2.844 4.409 6.604 4.409 10.591V79c0 8.271-6.729 15-15 15zm0-75.88c-6.617 0-12 5.383-12 12V79c0 6.617 5.383 12 12 12s12-5.383 12-12V30.12c0-3.185-1.254-6.192-3.53-8.47-2.277-2.276-5.285-3.53-8.47-3.53zm0 22.05c-4.621 0-8.38-3.759-8.38-8.38s3.759-8.38 8.38-8.38 8.38 3.759 8.38 8.38-3.759 8.38-8.38 8.38zm0-13.76c-2.966 0-5.38 2.413-5.38 5.38s2.414 5.38 5.38 5.38c2.966 0 5.38-2.413 5.38-5.38s-2.413-5.38-5.38-5.38z"/><path d="M222.67 76.38h-15c8.61 0 15.61 7 15.61 15.6v130.29c0 8.61-7 15.61-15.61 15.61h15c8.61 0 15.61-7 15.61-15.61V91.98c0-8.6-7-15.6-15.61-15.6z" style="fill:#d34e5c"/></g></svg>
        <p><b>Name</b> : <%=user.fullname %></p>  
        <p><b>Department</b> : <%=user.branch %> </p>  
        <p><b>Roll No.</b> : <%=user.roll %> </p>
        <p><b>Semester </b>: <%=user.semester %></p>
        <p><b>Year </b>: <%=user.year%></p>
      </div>
        </div>
    </div>

    <div id="footer">
      <div id="cursor"></div>
      <div id="cursor-blur"></div>
  
      <img
        src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
        alt=""
      />
      <div id="f1">
        <img src="" alt="logo" />
      </div>
      <div id="f2">
        <h3>I.E.(I)</h3>
        <h3>SIC</h3>
        <h3>About us</h3>
      </div>
      <div id="f3">
        <h3>Electronics Components</h3>
        <h3>Events</h3>
        <h3>Contact us</h3>
        
      </div>
      <div id="f4">
        <h4>
          Student Innovation Centre , <br />
          D-block,ECE Department , <br />
          Asansol Engineering College<br />
          GMAIL:princeiit423@gmail.com <br />
          GET DIRECTIONS <br />
        </h4>
        <br>
        <i style="color: #000;">Contact Developer <br>
        <a style="text-decoration: none; color: #000;" href="www.linkedin.com/in/
        faiz-hussain-257001250/
        ">LinkedIn</a> <br>
        <a style="text-decoration: none; color: #000;">Email:faiz18513@gmail.com</a>
        </i>
      </div>
    </div>
  
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
