<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventBurst</title>
</head>
<body>
    <div class="container">
        <h3>Name=<%=user.fullname %></h3>
        <h3>Department=<%=user.branch %></h3>
        <h3>semester=<%=user.semester %></h3>
        <h3>Roll No.= <%=user.roll %></h3>
        <h3>Year=<%=user.year %></h3>
    </div>
</body>
</html>