<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <form method="get" action="/signup">
    <div class="container">
        <h3>name=<%=profile.fullname%></h3>
        <h3>roll number=<%=profile.roll%></h3>
        <h3>branch=<%=profile.branch%></h3>
        <h3>semester=<%=profile.semester%></h3>
        <h3>year=<%=profile.year%></h3>

        <button>Edit profile</button>
    </div>
</form>
    
</body>
</html>